openapi: 3.0.3
info:
  contact:
    name: ESI Support
    url: https://developers.eveonline.com/docs/support/
  license:
    name: EVE Developer License
    url: https://developers.eveonline.com/license-agreement
  termsOfService: https://support.eveonline.com/hc/en-us/articles/8414770561948-EVE-Online-Terms-of-Service
  title: EVE Stable Infrastructure (ESI) - tranquility
  version: 2025-11-06
servers:
- url: https://esi.evetech.net
tags:
- name: Alliance
- name: Assets
- name: Calendar
- name: Character
- name: Clones
- name: Contacts
- name: Contracts
- name: Corporation
- name: Corporation Projects
- name: Dogma
- name: Faction Warfare
- name: Fittings
- name: Fleets
- name: Incursions
- name: Industry
- name: Insurance
- name: Killmails
- name: Location
- name: Loyalty
- name: Mail
- name: Market
- name: Meta
- name: Planetary Interaction
- name: Routes
- name: Search
- name: Skills
- name: Sovereignty
- name: Status
- name: Universe
- name: User Interface
- name: Wallet
- name: Wars
paths:
  /alliances:
    get:
      description: List all active player alliances
      operationId: GetAlliances
      parameters:
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlliancesGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: List all alliances
      tags:
      - Alliance
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
  /alliances/{alliance_id}:
    get:
      description: Public information about an alliance
      operationId: GetAlliancesAllianceId
      parameters:
      - description: The ID of the alliance
        explode: false
        in: path
        name: alliance_id
        required: true
        schema:
          $ref: "#/components/schemas/AllianceID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlliancesAllianceIdGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get alliance information
      tags:
      - Alliance
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
  /alliances/{alliance_id}/contacts:
    get:
      description: Return contacts of an alliance
      operationId: GetAlliancesAllianceIdContacts
      parameters:
      - description: The ID of the alliance
        explode: false
        in: path
        name: alliance_id
        required: true
        schema:
          $ref: "#/components/schemas/AllianceID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlliancesAllianceIdContactsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-alliances.read_contacts.v1
      summary: Get alliance contacts
      tags:
      - Contacts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: alliance-social
        max-tokens: 300
        window-size: 15m
  /alliances/{alliance_id}/contacts/labels:
    get:
      description: Return custom labels for an alliance's contacts
      operationId: GetAlliancesAllianceIdContactsLabels
      parameters:
      - description: The ID of the alliance
        explode: false
        in: path
        name: alliance_id
        required: true
        schema:
          $ref: "#/components/schemas/AllianceID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlliancesAllianceIdContactsLabelsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-alliances.read_contacts.v1
      summary: Get alliance contact labels
      tags:
      - Contacts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: alliance-social
        max-tokens: 300
        window-size: 15m
  /alliances/{alliance_id}/corporations:
    get:
      description: List all current member corporations of an alliance
      operationId: GetAlliancesAllianceIdCorporations
      parameters:
      - description: The ID of the alliance
        explode: false
        in: path
        name: alliance_id
        required: true
        schema:
          $ref: "#/components/schemas/AllianceID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlliancesAllianceIdCorporationsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: List alliance's corporations
      tags:
      - Alliance
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
  /alliances/{alliance_id}/icons:
    get:
      description: |-
        Get the icon urls for a alliance

        This route expires daily at 11:05
      operationId: GetAlliancesAllianceIdIcons
      parameters:
      - description: The ID of the alliance
        explode: false
        in: path
        name: alliance_id
        required: true
        schema:
          $ref: "#/components/schemas/AllianceID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlliancesAllianceIdIconsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get alliance icon
      tags:
      - Alliance
      x-compatibility-date: 2020-01-01
  /characters/affiliation:
    post:
      description: "Bulk lookup of character IDs to corporation, alliance and faction"
      operationId: PostCharactersAffiliation
      parameters:
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: character integer
                format: int64
                type: integer
              maxItems: 1000
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersAffiliationPost"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Character affiliation
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
  /characters/{character_id}:
    get:
      description: Public information about a character
      operationId: GetCharactersCharacterId
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get character's public information
      tags:
      - Character
      x-cache-age: 604800
      x-compatibility-date: 2020-01-01
  /characters/{character_id}/agents_research:
    get:
      description: "Return a list of agents research information for a character.\
        \ The formula for finding the current research points with an agent is: currentPoints\
        \ = remainderPoints + pointsPerDay * days(currentTime - researchStartDate)"
      operationId: GetCharactersCharacterIdAgentsResearch
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdAgentsResearchGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_agents_research.v1
      summary: Get agents research
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-industry
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/assets:
    get:
      description: Return a list of the characters assets
      operationId: GetCharactersCharacterIdAssets
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdAssetsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-assets.read_assets.v1
      summary: Get character assets
      tags:
      - Assets
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
  /characters/{character_id}/assets/locations:
    post:
      description: "Return locations for a set of item ids, which you can get from\
        \ character assets endpoint. Coordinates for items in hangars or stations\
        \ are set to (0,0,0)"
      operationId: PostCharactersCharacterIdAssetsLocations
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: item_id integer
                format: int64
                type: integer
              maxItems: 1000
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdAssetsLocationsPost"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-assets.read_assets.v1
      summary: Get character asset locations
      tags:
      - Assets
      x-compatibility-date: 2020-01-01
  /characters/{character_id}/assets/names:
    post:
      description: "Return names for a set of item ids, which you can get from character\
        \ assets endpoint. Typically used for items that can customize names, like\
        \ containers or ships."
      operationId: PostCharactersCharacterIdAssetsNames
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: item_id integer
                format: int64
                type: integer
              maxItems: 1000
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdAssetsNamesPost"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-assets.read_assets.v1
      summary: Get character asset names
      tags:
      - Assets
      x-compatibility-date: 2020-01-01
  /characters/{character_id}/attributes:
    get:
      description: Return attributes of a character
      operationId: GetCharactersCharacterIdAttributes
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdAttributesGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-skills.read_skills.v1
      summary: Get character attributes
      tags:
      - Skills
      x-cache-age: 120
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-detail
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/blueprints:
    get:
      description: Return a list of blueprints the character owns
      operationId: GetCharactersCharacterIdBlueprints
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdBlueprintsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_blueprints.v1
      summary: Get blueprints
      tags:
      - Character
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-industry
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/calendar:
    get:
      description: "Get 50 event summaries from the calendar. If no from_event ID\
        \ is given, the resource will return the next 50 chronological event summaries\
        \ from now. If a from_event ID is specified, it will return the next 50 chronological\
        \ event summaries from after that event"
      operationId: GetCharactersCharacterIdCalendar
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: from_event
        required: false
        schema:
          description: The event ID to retrieve events from
          format: int64
          type: integer
        style: form
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdCalendarGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-calendar.read_calendar_events.v1
      summary: List calendar event summaries
      tags:
      - Calendar
      x-cache-age: 5
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-social
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/calendar/{event_id}:
    get:
      description: Get all the information for a specific event
      operationId: GetCharactersCharacterIdCalendarEventId
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          description: The id of the event requested
          format: int64
          type: integer
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdCalendarEventIdGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-calendar.read_calendar_events.v1
      summary: Get an event
      tags:
      - Calendar
      x-cache-age: 5
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-social
        max-tokens: 600
        window-size: 15m
    put:
      description: Set your response status to an event
      operationId: PutCharactersCharacterIdCalendarEventId
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          description: The ID of the event requested
          format: int64
          type: integer
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutCharactersCharacterIdCalendarEventId_request"
        required: true
      responses:
        "204":
          description: Event updated
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-calendar.respond_calendar_events.v1
      summary: Respond to an event
      tags:
      - Calendar
      x-cache-age: 5
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-social
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/calendar/{event_id}/attendees:
    get:
      description: Get all invited attendees for a given event
      operationId: GetCharactersCharacterIdCalendarEventIdAttendees
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: event_id
        required: true
        schema:
          description: The id of the event requested
          format: int64
          type: integer
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdCalendarEventIdAttendeesGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-calendar.read_calendar_events.v1
      summary: Get attendees
      tags:
      - Calendar
      x-cache-age: 600
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-social
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/clones:
    get:
      description: A list of the character's clones
      operationId: GetCharactersCharacterIdClones
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdClonesGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-clones.read_clones.v1
      summary: Get clones
      tags:
      - Clones
      x-cache-age: 120
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-location
        max-tokens: 1200
        window-size: 15m
  /characters/{character_id}/contacts:
    delete:
      description: Bulk delete contacts
      operationId: DeleteCharactersCharacterIdContacts
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: contact_ids
        required: true
        schema:
          description: A list of contacts to delete
          items:
            format: int64
            type: integer
          maxItems: 20
          minItems: 1
          type: array
        style: form
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "204":
          description: Contacts deleted
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.write_contacts.v1
      summary: Delete contacts
      tags:
      - Contacts
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-social
        max-tokens: 600
        window-size: 15m
    get:
      description: Return contacts of a character
      operationId: GetCharactersCharacterIdContacts
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdContactsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_contacts.v1
      summary: Get contacts
      tags:
      - Contacts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-social
        max-tokens: 600
        window-size: 15m
    post:
      description: Bulk add contacts with same settings
      operationId: PostCharactersCharacterIdContacts
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: label_ids
        required: false
        schema:
          description: Add custom labels to the new contact
          items:
            format: int64
            type: integer
          maxItems: 63
          type: array
        style: form
      - explode: true
        in: query
        name: standing
        required: true
        schema:
          description: Standing for the contact
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: watched
        required: false
        schema:
          default: false
          description: "Whether the contact should be watched, note this is only effective\
            \ on characters"
          type: boolean
        style: form
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: ID of the contact to edit
                format: int64
                type: integer
              maxItems: 100
              minItems: 1
              type: array
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdContactsPost"
          description: Created
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.write_contacts.v1
      summary: Add contacts
      tags:
      - Contacts
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-social
        max-tokens: 600
        window-size: 15m
    put:
      description: Bulk edit contacts with same settings
      operationId: PutCharactersCharacterIdContacts
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: label_ids
        required: false
        schema:
          description: Add custom labels to the contact
          items:
            format: int64
            type: integer
          maxItems: 63
          type: array
        style: form
      - explode: true
        in: query
        name: standing
        required: true
        schema:
          description: Standing for the contact
          format: double
          type: number
        style: form
      - explode: true
        in: query
        name: watched
        required: false
        schema:
          default: false
          description: "Whether the contact should be watched, note this is only effective\
            \ on characters"
          type: boolean
        style: form
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: ID of the contact to edit
                format: int64
                type: integer
              maxItems: 100
              minItems: 1
              type: array
        required: true
      responses:
        "204":
          description: Contacts updated
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.write_contacts.v1
      summary: Edit contacts
      tags:
      - Contacts
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-social
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/contacts/labels:
    get:
      description: Return custom labels for a character's contacts
      operationId: GetCharactersCharacterIdContactsLabels
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdContactsLabelsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_contacts.v1
      summary: Get contact labels
      tags:
      - Contacts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-social
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/contracts:
    get:
      description: "Returns contracts available to a character, only if the character\
        \ is issuer, acceptor or assignee. Only returns contracts no older than 30\
        \ days, or if the status is \"in_progress\"."
      operationId: GetCharactersCharacterIdContracts
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          description: Which page of results to return.
          format: int32
          minimum: 1
          type: integer
        style: form
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdContractsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
            X-Pages:
              description: The total number of pages in the result set.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_character_contracts.v1
      summary: Get contracts
      tags:
      - Contracts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-contract
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/contracts/{contract_id}/bids:
    get:
      description: Lists bids on a particular auction contract
      operationId: GetCharactersCharacterIdContractsContractIdBids
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: contract_id
        required: true
        schema:
          description: ID of a contract
          format: int64
          type: integer
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdContractsContractIdBidsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_character_contracts.v1
      summary: Get contract bids
      tags:
      - Contracts
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-contract
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/contracts/{contract_id}/items:
    get:
      description: Lists items of a particular contract
      operationId: GetCharactersCharacterIdContractsContractIdItems
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: contract_id
        required: true
        schema:
          description: ID of a contract
          format: int64
          type: integer
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdContractsContractIdItemsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-contracts.read_character_contracts.v1
      summary: Get contract items
      tags:
      - Contracts
      x-cache-age: 3600
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-contract
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/corporationhistory:
    get:
      description: Get a list of all the corporations a character has been a member
        of
      operationId: GetCharactersCharacterIdCorporationhistory
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdCorporationhistoryGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      summary: Get corporation history
      tags:
      - Character
      x-cache-age: 86400
      x-compatibility-date: 2020-01-01
  /characters/{character_id}/cspa:
    post:
      description: "Takes a source character ID in the url and a set of target character\
        \ ID's in the body, returns a CSPA charge cost"
      operationId: PostCharactersCharacterIdCspa
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: character integer
                format: int64
                type: integer
              maxItems: 100
              minItems: 1
              type: array
              uniqueItems: true
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdCspaPost"
          description: Created
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_contacts.v1
      summary: Calculate a CSPA charge cost
      tags:
      - Character
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-detail
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/fatigue:
    get:
      description: Return a character's jump activation and fatigue information
      operationId: GetCharactersCharacterIdFatigue
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdFatigueGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_fatigue.v1
      summary: Get jump fatigue
      tags:
      - Character
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-location
        max-tokens: 1200
        window-size: 15m
  /characters/{character_id}/fittings:
    get:
      description: Return fittings of a character
      operationId: GetCharactersCharacterIdFittings
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdFittingsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-fittings.read_fittings.v1
      summary: Get fittings
      tags:
      - Fittings
      x-cache-age: 300
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: fitting
        max-tokens: 150
        window-size: 15m
    post:
      description: Save a new fitting for a character
      operationId: PostCharactersCharacterIdFittings
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostCharactersCharacterIdFittings_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdFittingsPost"
          description: Created
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-fittings.write_fittings.v1
      summary: Create fitting
      tags:
      - Fittings
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: fitting
        max-tokens: 150
        window-size: 15m
  /characters/{character_id}/fittings/{fitting_id}:
    delete:
      description: Delete a fitting from a character
      operationId: DeleteCharactersCharacterIdFittingsFittingId
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: false
        in: path
        name: fitting_id
        required: true
        schema:
          description: ID for a fitting of this character
          format: int64
          type: integer
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "204":
          description: Fitting deleted
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-fittings.write_fittings.v1
      summary: Delete fitting
      tags:
      - Fittings
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: fitting
        max-tokens: 150
        window-size: 15m
  /characters/{character_id}/fleet:
    get:
      description: "Return the fleet ID the character is in, if any."
      operationId: GetCharactersCharacterIdFleet
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdFleetGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-fleets.read_fleet.v1
      summary: Get character fleet info
      tags:
      - Fleets
      x-cache-age: 60
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: fleet
        max-tokens: 1800
        window-size: 15m
  /characters/{character_id}/fw/stats:
    get:
      description: |-
        Statistical overview of a character involved in faction warfare

        This route expires daily at 11:05
      operationId: GetCharactersCharacterIdFwStats
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdFwStatsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-characters.read_fw_stats.v1
      summary: Overview of a character involved in faction warfare
      tags:
      - Faction Warfare
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: factional-warfare
        max-tokens: 150
        window-size: 15m
  /characters/{character_id}/implants:
    get:
      description: Return implants on the active clone of a character
      operationId: GetCharactersCharacterIdImplants
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
        name: X-Tenant
        required: false
        schema:
          default: tranquility
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CharactersCharacterIdImplantsGet"
          description: OK
          headers:
            Cache-Control:
              $ref: "#/components/headers/CacheControl"
            ETag:
              $ref: "#/components/headers/ETag"
            Last-Modified:
              $ref: "#/components/headers/LastModified"
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Error
      security:
      - OAuth2:
        - esi-clones.read_implants.v1
      summary: Get active implants
      tags:
      - Clones
      x-cache-age: 120
      x-compatibility-date: 2020-01-01
      x-rate-limit:
        group: char-detail
        max-tokens: 600
        window-size: 15m
  /characters/{character_id}/industry/jobs:
    get:
      description: List industry jobs placed by a character
      operationId: GetCharactersCharacterIdIndustryJobs
      parameters:
      - description: The ID of the character
        explode: false
        in: path
        name: character_id
        required: true
        schema:
          $ref: "#/components/schemas/CharacterID"
        style: simple
      - explode: true
        in: query
        name: include_completed
        required: false
        schema:
          description: Whether to retrieve completed character industry jobs. Only
            includes jobs from the past 90 days
          type: boolean
        style: form
      - description: The language to use for the response.
        explode: false
        in: header
        name: Accept-Language
        required: false
        schema:
          default: en
          enum:
          - en
          - de
          - fr
          - ja
          - ru
          - zh
          - ko
          - es
          type: string
        style: simple
      - description: The ETag of the previous request. A 304 will be returned if this
          matches the current ETag.
        explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - description: The compatibility date for the request.
        explode: false
        in: header
        name: X-Compatibility-Date
        required: true
        schema:
          enum:
          - 2025-11-06
          format: date
          type: string
        style: simple
      - description: The tenant ID for the request.
        example: ""
        explode: false
        in: header
[...]
