/*
EVE Swagger Incineration (ESI) - tranquility

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2026-07-17
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package esi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type ActivitiesAPI interface {

	/*
	GetCharactersMercenaryTacticalOperationsDetail Get Mercenary Tactical Operation details

	Get the details of a Mercenary Tactical Operation.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param operationId The ID of the operation
	@param characterId The ID of the character
	@return ApiGetCharactersMercenaryTacticalOperationsDetailRequest
	*/
	GetCharactersMercenaryTacticalOperationsDetail(ctx context.Context, operationId string, characterId int64) ApiGetCharactersMercenaryTacticalOperationsDetailRequest

	// GetCharactersMercenaryTacticalOperationsDetailExecute executes the request
	//  @return CharactersMercenaryTacticalOperationsDetail
	GetCharactersMercenaryTacticalOperationsDetailExecute(r ApiGetCharactersMercenaryTacticalOperationsDetailRequest) (*CharactersMercenaryTacticalOperationsDetail, *http.Response, error)

	/*
	GetCharactersMercenaryTacticalOperationsListing List Mercenary Tactical Operations

	Listing of all Mercenary Tactical Operations for the character.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param characterId The ID of the character
	@return ApiGetCharactersMercenaryTacticalOperationsListingRequest
	*/
	GetCharactersMercenaryTacticalOperationsListing(ctx context.Context, characterId int64) ApiGetCharactersMercenaryTacticalOperationsListingRequest

	// GetCharactersMercenaryTacticalOperationsListingExecute executes the request
	//  @return CharactersMercenaryTacticalOperationsListing
	GetCharactersMercenaryTacticalOperationsListingExecute(r ApiGetCharactersMercenaryTacticalOperationsListingRequest) (*CharactersMercenaryTacticalOperationsListing, *http.Response, error)

	/*
	GetSkyhooksRaidable List (upcoming) raidable Skyhooks

	Listing of all Skyhooks that currently or will shortly be raidable.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSkyhooksRaidableRequest
	*/
	GetSkyhooksRaidable(ctx context.Context) ApiGetSkyhooksRaidableRequest

	// GetSkyhooksRaidableExecute executes the request
	//  @return SkyhooksRaidable
	GetSkyhooksRaidableExecute(r ApiGetSkyhooksRaidableRequest) (*SkyhooksRaidable, *http.Response, error)
}

// ActivitiesAPIService ActivitiesAPI service
type ActivitiesAPIService service

type ApiGetCharactersMercenaryTacticalOperationsDetailRequest struct {
	ctx context.Context
	ApiService ActivitiesAPI
	operationId string
	characterId int64
	xCompatibilityDate *string
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetCharactersMercenaryTacticalOperationsDetailRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetCharactersMercenaryTacticalOperationsDetailRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// The language to use for the response.
func (r ApiGetCharactersMercenaryTacticalOperationsDetailRequest) AcceptLanguage(acceptLanguage string) ApiGetCharactersMercenaryTacticalOperationsDetailRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetCharactersMercenaryTacticalOperationsDetailRequest) IfNoneMatch(ifNoneMatch string) ApiGetCharactersMercenaryTacticalOperationsDetailRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetCharactersMercenaryTacticalOperationsDetailRequest) XTenant(xTenant string) ApiGetCharactersMercenaryTacticalOperationsDetailRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetCharactersMercenaryTacticalOperationsDetailRequest) IfModifiedSince(ifModifiedSince string) ApiGetCharactersMercenaryTacticalOperationsDetailRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetCharactersMercenaryTacticalOperationsDetailRequest) Execute() (*CharactersMercenaryTacticalOperationsDetail, *http.Response, error) {
	return r.ApiService.GetCharactersMercenaryTacticalOperationsDetailExecute(r)
}

/*
GetCharactersMercenaryTacticalOperationsDetail Get Mercenary Tactical Operation details

Get the details of a Mercenary Tactical Operation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param operationId The ID of the operation
 @param characterId The ID of the character
 @return ApiGetCharactersMercenaryTacticalOperationsDetailRequest
*/
func (a *ActivitiesAPIService) GetCharactersMercenaryTacticalOperationsDetail(ctx context.Context, operationId string, characterId int64) ApiGetCharactersMercenaryTacticalOperationsDetailRequest {
	return ApiGetCharactersMercenaryTacticalOperationsDetailRequest{
		ApiService: a,
		ctx: ctx,
		operationId: operationId,
		characterId: characterId,
	}
}

// Execute executes the request
//  @return CharactersMercenaryTacticalOperationsDetail
func (a *ActivitiesAPIService) GetCharactersMercenaryTacticalOperationsDetailExecute(r ApiGetCharactersMercenaryTacticalOperationsDetailRequest) (*CharactersMercenaryTacticalOperationsDetail, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CharactersMercenaryTacticalOperationsDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActivitiesAPIService.GetCharactersMercenaryTacticalOperationsDetail")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/characters/{character_id}/mercenary-tactical-operations/{operation_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"operation_id"+"}", url.PathEscape(parameterValueToString(r.operationId, "operationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"character_id"+"}", url.PathEscape(parameterValueToString(r.characterId, "characterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCharactersMercenaryTacticalOperationsListingRequest struct {
	ctx context.Context
	ApiService ActivitiesAPI
	characterId int64
	xCompatibilityDate *string
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetCharactersMercenaryTacticalOperationsListingRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetCharactersMercenaryTacticalOperationsListingRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// The language to use for the response.
func (r ApiGetCharactersMercenaryTacticalOperationsListingRequest) AcceptLanguage(acceptLanguage string) ApiGetCharactersMercenaryTacticalOperationsListingRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetCharactersMercenaryTacticalOperationsListingRequest) IfNoneMatch(ifNoneMatch string) ApiGetCharactersMercenaryTacticalOperationsListingRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetCharactersMercenaryTacticalOperationsListingRequest) XTenant(xTenant string) ApiGetCharactersMercenaryTacticalOperationsListingRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetCharactersMercenaryTacticalOperationsListingRequest) IfModifiedSince(ifModifiedSince string) ApiGetCharactersMercenaryTacticalOperationsListingRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetCharactersMercenaryTacticalOperationsListingRequest) Execute() (*CharactersMercenaryTacticalOperationsListing, *http.Response, error) {
	return r.ApiService.GetCharactersMercenaryTacticalOperationsListingExecute(r)
}

/*
GetCharactersMercenaryTacticalOperationsListing List Mercenary Tactical Operations

Listing of all Mercenary Tactical Operations for the character.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param characterId The ID of the character
 @return ApiGetCharactersMercenaryTacticalOperationsListingRequest
*/
func (a *ActivitiesAPIService) GetCharactersMercenaryTacticalOperationsListing(ctx context.Context, characterId int64) ApiGetCharactersMercenaryTacticalOperationsListingRequest {
	return ApiGetCharactersMercenaryTacticalOperationsListingRequest{
		ApiService: a,
		ctx: ctx,
		characterId: characterId,
	}
}

// Execute executes the request
//  @return CharactersMercenaryTacticalOperationsListing
func (a *ActivitiesAPIService) GetCharactersMercenaryTacticalOperationsListingExecute(r ApiGetCharactersMercenaryTacticalOperationsListingRequest) (*CharactersMercenaryTacticalOperationsListing, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CharactersMercenaryTacticalOperationsListing
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActivitiesAPIService.GetCharactersMercenaryTacticalOperationsListing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/characters/{character_id}/mercenary-tactical-operations"
	localVarPath = strings.Replace(localVarPath, "{"+"character_id"+"}", url.PathEscape(parameterValueToString(r.characterId, "characterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSkyhooksRaidableRequest struct {
	ctx context.Context
	ApiService ActivitiesAPI
	xCompatibilityDate *string
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetSkyhooksRaidableRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetSkyhooksRaidableRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// The language to use for the response.
func (r ApiGetSkyhooksRaidableRequest) AcceptLanguage(acceptLanguage string) ApiGetSkyhooksRaidableRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetSkyhooksRaidableRequest) IfNoneMatch(ifNoneMatch string) ApiGetSkyhooksRaidableRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetSkyhooksRaidableRequest) XTenant(xTenant string) ApiGetSkyhooksRaidableRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetSkyhooksRaidableRequest) IfModifiedSince(ifModifiedSince string) ApiGetSkyhooksRaidableRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetSkyhooksRaidableRequest) Execute() (*SkyhooksRaidable, *http.Response, error) {
	return r.ApiService.GetSkyhooksRaidableExecute(r)
}

/*
GetSkyhooksRaidable List (upcoming) raidable Skyhooks

Listing of all Skyhooks that currently or will shortly be raidable.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSkyhooksRaidableRequest
*/
func (a *ActivitiesAPIService) GetSkyhooksRaidable(ctx context.Context) ApiGetSkyhooksRaidableRequest {
	return ApiGetSkyhooksRaidableRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SkyhooksRaidable
func (a *ActivitiesAPIService) GetSkyhooksRaidableExecute(r ApiGetSkyhooksRaidableRequest) (*SkyhooksRaidable, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SkyhooksRaidable
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActivitiesAPIService.GetSkyhooksRaidable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/skyhooks/raidable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
