/*
EVE Spring Inebriation (ESI) - tranquility

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2026-05-19
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package esi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type SovereigntyAPI interface {

	/*
	GetSovereigntyCampaigns List sovereignty campaigns

	Shows sovereignty data for campaigns.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSovereigntyCampaignsRequest
	*/
	GetSovereigntyCampaigns(ctx context.Context) ApiGetSovereigntyCampaignsRequest

	// GetSovereigntyCampaignsExecute executes the request
	//  @return []SovereigntyCampaignsGetInner
	GetSovereigntyCampaignsExecute(r ApiGetSovereigntyCampaignsRequest) ([]SovereigntyCampaignsGetInner, *http.Response, error)

	/*
	GetSovereigntySystems List sovereignty details for K-space systems

	Listing of sovereignty details for all K-space systems in New Eden.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSovereigntySystemsRequest
	*/
	GetSovereigntySystems(ctx context.Context) ApiGetSovereigntySystemsRequest

	// GetSovereigntySystemsExecute executes the request
	//  @return SovereigntySystems
	GetSovereigntySystemsExecute(r ApiGetSovereigntySystemsRequest) (*SovereigntySystems, *http.Response, error)
}

// SovereigntyAPIService SovereigntyAPI service
type SovereigntyAPIService service

type ApiGetSovereigntyCampaignsRequest struct {
	ctx context.Context
	ApiService SovereigntyAPI
	xCompatibilityDate *string
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetSovereigntyCampaignsRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetSovereigntyCampaignsRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// The language to use for the response.
func (r ApiGetSovereigntyCampaignsRequest) AcceptLanguage(acceptLanguage string) ApiGetSovereigntyCampaignsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetSovereigntyCampaignsRequest) IfNoneMatch(ifNoneMatch string) ApiGetSovereigntyCampaignsRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetSovereigntyCampaignsRequest) XTenant(xTenant string) ApiGetSovereigntyCampaignsRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetSovereigntyCampaignsRequest) IfModifiedSince(ifModifiedSince string) ApiGetSovereigntyCampaignsRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetSovereigntyCampaignsRequest) Execute() ([]SovereigntyCampaignsGetInner, *http.Response, error) {
	return r.ApiService.GetSovereigntyCampaignsExecute(r)
}

/*
GetSovereigntyCampaigns List sovereignty campaigns

Shows sovereignty data for campaigns.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSovereigntyCampaignsRequest
*/
func (a *SovereigntyAPIService) GetSovereigntyCampaigns(ctx context.Context) ApiGetSovereigntyCampaignsRequest {
	return ApiGetSovereigntyCampaignsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SovereigntyCampaignsGetInner
func (a *SovereigntyAPIService) GetSovereigntyCampaignsExecute(r ApiGetSovereigntyCampaignsRequest) ([]SovereigntyCampaignsGetInner, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SovereigntyCampaignsGetInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SovereigntyAPIService.GetSovereigntyCampaigns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sovereignty/campaigns"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSovereigntySystemsRequest struct {
	ctx context.Context
	ApiService SovereigntyAPI
	xCompatibilityDate *string
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetSovereigntySystemsRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetSovereigntySystemsRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// The language to use for the response.
func (r ApiGetSovereigntySystemsRequest) AcceptLanguage(acceptLanguage string) ApiGetSovereigntySystemsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetSovereigntySystemsRequest) IfNoneMatch(ifNoneMatch string) ApiGetSovereigntySystemsRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetSovereigntySystemsRequest) XTenant(xTenant string) ApiGetSovereigntySystemsRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetSovereigntySystemsRequest) IfModifiedSince(ifModifiedSince string) ApiGetSovereigntySystemsRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetSovereigntySystemsRequest) Execute() (*SovereigntySystems, *http.Response, error) {
	return r.ApiService.GetSovereigntySystemsExecute(r)
}

/*
GetSovereigntySystems List sovereignty details for K-space systems

Listing of sovereignty details for all K-space systems in New Eden.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSovereigntySystemsRequest
*/
func (a *SovereigntyAPIService) GetSovereigntySystems(ctx context.Context) ApiGetSovereigntySystemsRequest {
	return ApiGetSovereigntySystemsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SovereigntySystems
func (a *SovereigntyAPIService) GetSovereigntySystemsExecute(r ApiGetSovereigntySystemsRequest) (*SovereigntySystems, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SovereigntySystems
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SovereigntyAPIService.GetSovereigntySystems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sovereignty/systems"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
