/*
EVE SKINR Ingenuity (ESI) - tranquility

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2026-08-18
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package esi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type ParagonHubAPI interface {

	/*
	GetCharactersParagonHubSkinr List a character's Paragon Hub SKINR listings

	List the SKINR listings a character has posted on the Paragon Hub.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param characterId The ID of the character whose listings to return
	@return ApiGetCharactersParagonHubSkinrRequest
	*/
	GetCharactersParagonHubSkinr(ctx context.Context, characterId int64) ApiGetCharactersParagonHubSkinrRequest

	// GetCharactersParagonHubSkinrExecute executes the request
	//  @return CharactersParagonHubSkinr
	GetCharactersParagonHubSkinrExecute(r ApiGetCharactersParagonHubSkinrRequest) (*CharactersParagonHubSkinr, *http.Response, error)

	/*
	GetParagonHubSkinr List public Paragon Hub SKINR listings

	Browse the SKINR listings publicly available on the Paragon Hub.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetParagonHubSkinrRequest
	*/
	GetParagonHubSkinr(ctx context.Context) ApiGetParagonHubSkinrRequest

	// GetParagonHubSkinrExecute executes the request
	//  @return ParagonHubSkinr
	GetParagonHubSkinrExecute(r ApiGetParagonHubSkinrRequest) (*ParagonHubSkinr, *http.Response, error)

	/*
	GetParagonHubSkinrAlliances List Paragon Hub SKINR listings targeted at an alliance

	Browse the SKINR listings on the Paragon Hub that are visible to the given alliance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param allianceId The ID of the alliance the listings are targeted at
	@return ApiGetParagonHubSkinrAlliancesRequest
	*/
	GetParagonHubSkinrAlliances(ctx context.Context, allianceId int64) ApiGetParagonHubSkinrAlliancesRequest

	// GetParagonHubSkinrAlliancesExecute executes the request
	//  @return ParagonHubSkinrAlliances
	GetParagonHubSkinrAlliancesExecute(r ApiGetParagonHubSkinrAlliancesRequest) (*ParagonHubSkinrAlliances, *http.Response, error)

	/*
	GetParagonHubSkinrCharacters List Paragon Hub SKINR listings targeted at a character

	Browse the SKINR listings on the Paragon Hub that are visible to the given character.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param characterId The ID of the character the listings are targeted at
	@return ApiGetParagonHubSkinrCharactersRequest
	*/
	GetParagonHubSkinrCharacters(ctx context.Context, characterId int64) ApiGetParagonHubSkinrCharactersRequest

	// GetParagonHubSkinrCharactersExecute executes the request
	//  @return ParagonHubSkinrCharacters
	GetParagonHubSkinrCharactersExecute(r ApiGetParagonHubSkinrCharactersRequest) (*ParagonHubSkinrCharacters, *http.Response, error)

	/*
	GetParagonHubSkinrCorporations List Paragon Hub SKINR listings targeted at a corporation

	Browse the SKINR listings on the Paragon Hub that are visible to the given corporation.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param corporationId The ID of the corporation the listings are targeted at
	@return ApiGetParagonHubSkinrCorporationsRequest
	*/
	GetParagonHubSkinrCorporations(ctx context.Context, corporationId int64) ApiGetParagonHubSkinrCorporationsRequest

	// GetParagonHubSkinrCorporationsExecute executes the request
	//  @return ParagonHubSkinrCorporations
	GetParagonHubSkinrCorporationsExecute(r ApiGetParagonHubSkinrCorporationsRequest) (*ParagonHubSkinrCorporations, *http.Response, error)
}

// ParagonHubAPIService ParagonHubAPI service
type ParagonHubAPIService service

type ApiGetCharactersParagonHubSkinrRequest struct {
	ctx context.Context
	ApiService ParagonHubAPI
	characterId int64
	xCompatibilityDate *string
	after *string
	before *string
	limit *int64
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetCharactersParagonHubSkinrRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetCharactersParagonHubSkinrRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// Return records from after this cursor (mutual exclusive with &#39;before&#39;). &#39;0&#39; to start from the beginning.
func (r ApiGetCharactersParagonHubSkinrRequest) After(after string) ApiGetCharactersParagonHubSkinrRequest {
	r.after = &after
	return r
}

// Return records from before this cursor (mutual exclusive with &#39;after&#39;). &#39;0&#39; to start from the end.
func (r ApiGetCharactersParagonHubSkinrRequest) Before(before string) ApiGetCharactersParagonHubSkinrRequest {
	r.before = &before
	return r
}

// The amount of records to retrieve per request.
func (r ApiGetCharactersParagonHubSkinrRequest) Limit(limit int64) ApiGetCharactersParagonHubSkinrRequest {
	r.limit = &limit
	return r
}

// The language to use for the response.
func (r ApiGetCharactersParagonHubSkinrRequest) AcceptLanguage(acceptLanguage string) ApiGetCharactersParagonHubSkinrRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetCharactersParagonHubSkinrRequest) IfNoneMatch(ifNoneMatch string) ApiGetCharactersParagonHubSkinrRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetCharactersParagonHubSkinrRequest) XTenant(xTenant string) ApiGetCharactersParagonHubSkinrRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetCharactersParagonHubSkinrRequest) IfModifiedSince(ifModifiedSince string) ApiGetCharactersParagonHubSkinrRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetCharactersParagonHubSkinrRequest) Execute() (*CharactersParagonHubSkinr, *http.Response, error) {
	return r.ApiService.GetCharactersParagonHubSkinrExecute(r)
}

/*
GetCharactersParagonHubSkinr List a character's Paragon Hub SKINR listings

List the SKINR listings a character has posted on the Paragon Hub.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param characterId The ID of the character whose listings to return
 @return ApiGetCharactersParagonHubSkinrRequest
*/
func (a *ParagonHubAPIService) GetCharactersParagonHubSkinr(ctx context.Context, characterId int64) ApiGetCharactersParagonHubSkinrRequest {
	return ApiGetCharactersParagonHubSkinrRequest{
		ApiService: a,
		ctx: ctx,
		characterId: characterId,
	}
}

// Execute executes the request
//  @return CharactersParagonHubSkinr
func (a *ParagonHubAPIService) GetCharactersParagonHubSkinrExecute(r ApiGetCharactersParagonHubSkinrRequest) (*CharactersParagonHubSkinr, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CharactersParagonHubSkinr
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParagonHubAPIService.GetCharactersParagonHubSkinr")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/characters/{character_id}/paragon-hub/skinr"
	localVarPath = strings.Replace(localVarPath, "{"+"character_id"+"}", url.PathEscape(parameterValueToString(r.characterId, "characterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int64 = 10
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetParagonHubSkinrRequest struct {
	ctx context.Context
	ApiService ParagonHubAPI
	xCompatibilityDate *string
	after *string
	before *string
	limit *int64
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetParagonHubSkinrRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetParagonHubSkinrRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// Return records from after this cursor (mutual exclusive with &#39;before&#39;). &#39;0&#39; to start from the beginning.
func (r ApiGetParagonHubSkinrRequest) After(after string) ApiGetParagonHubSkinrRequest {
	r.after = &after
	return r
}

// Return records from before this cursor (mutual exclusive with &#39;after&#39;). &#39;0&#39; to start from the end.
func (r ApiGetParagonHubSkinrRequest) Before(before string) ApiGetParagonHubSkinrRequest {
	r.before = &before
	return r
}

// The amount of records to retrieve per request.
func (r ApiGetParagonHubSkinrRequest) Limit(limit int64) ApiGetParagonHubSkinrRequest {
	r.limit = &limit
	return r
}

// The language to use for the response.
func (r ApiGetParagonHubSkinrRequest) AcceptLanguage(acceptLanguage string) ApiGetParagonHubSkinrRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetParagonHubSkinrRequest) IfNoneMatch(ifNoneMatch string) ApiGetParagonHubSkinrRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetParagonHubSkinrRequest) XTenant(xTenant string) ApiGetParagonHubSkinrRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetParagonHubSkinrRequest) IfModifiedSince(ifModifiedSince string) ApiGetParagonHubSkinrRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetParagonHubSkinrRequest) Execute() (*ParagonHubSkinr, *http.Response, error) {
	return r.ApiService.GetParagonHubSkinrExecute(r)
}

/*
GetParagonHubSkinr List public Paragon Hub SKINR listings

Browse the SKINR listings publicly available on the Paragon Hub.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetParagonHubSkinrRequest
*/
func (a *ParagonHubAPIService) GetParagonHubSkinr(ctx context.Context) ApiGetParagonHubSkinrRequest {
	return ApiGetParagonHubSkinrRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ParagonHubSkinr
func (a *ParagonHubAPIService) GetParagonHubSkinrExecute(r ApiGetParagonHubSkinrRequest) (*ParagonHubSkinr, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ParagonHubSkinr
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParagonHubAPIService.GetParagonHubSkinr")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paragon-hub/skinr"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int64 = 10
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetParagonHubSkinrAlliancesRequest struct {
	ctx context.Context
	ApiService ParagonHubAPI
	allianceId int64
	xCompatibilityDate *string
	after *string
	before *string
	limit *int64
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetParagonHubSkinrAlliancesRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetParagonHubSkinrAlliancesRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// Return records from after this cursor (mutual exclusive with &#39;before&#39;). &#39;0&#39; to start from the beginning.
func (r ApiGetParagonHubSkinrAlliancesRequest) After(after string) ApiGetParagonHubSkinrAlliancesRequest {
	r.after = &after
	return r
}

// Return records from before this cursor (mutual exclusive with &#39;after&#39;). &#39;0&#39; to start from the end.
func (r ApiGetParagonHubSkinrAlliancesRequest) Before(before string) ApiGetParagonHubSkinrAlliancesRequest {
	r.before = &before
	return r
}

// The amount of records to retrieve per request.
func (r ApiGetParagonHubSkinrAlliancesRequest) Limit(limit int64) ApiGetParagonHubSkinrAlliancesRequest {
	r.limit = &limit
	return r
}

// The language to use for the response.
func (r ApiGetParagonHubSkinrAlliancesRequest) AcceptLanguage(acceptLanguage string) ApiGetParagonHubSkinrAlliancesRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetParagonHubSkinrAlliancesRequest) IfNoneMatch(ifNoneMatch string) ApiGetParagonHubSkinrAlliancesRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetParagonHubSkinrAlliancesRequest) XTenant(xTenant string) ApiGetParagonHubSkinrAlliancesRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetParagonHubSkinrAlliancesRequest) IfModifiedSince(ifModifiedSince string) ApiGetParagonHubSkinrAlliancesRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetParagonHubSkinrAlliancesRequest) Execute() (*ParagonHubSkinrAlliances, *http.Response, error) {
	return r.ApiService.GetParagonHubSkinrAlliancesExecute(r)
}

/*
GetParagonHubSkinrAlliances List Paragon Hub SKINR listings targeted at an alliance

Browse the SKINR listings on the Paragon Hub that are visible to the given alliance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param allianceId The ID of the alliance the listings are targeted at
 @return ApiGetParagonHubSkinrAlliancesRequest
*/
func (a *ParagonHubAPIService) GetParagonHubSkinrAlliances(ctx context.Context, allianceId int64) ApiGetParagonHubSkinrAlliancesRequest {
	return ApiGetParagonHubSkinrAlliancesRequest{
		ApiService: a,
		ctx: ctx,
		allianceId: allianceId,
	}
}

// Execute executes the request
//  @return ParagonHubSkinrAlliances
func (a *ParagonHubAPIService) GetParagonHubSkinrAlliancesExecute(r ApiGetParagonHubSkinrAlliancesRequest) (*ParagonHubSkinrAlliances, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ParagonHubSkinrAlliances
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParagonHubAPIService.GetParagonHubSkinrAlliances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paragon-hub/skinr/alliances/{alliance_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"alliance_id"+"}", url.PathEscape(parameterValueToString(r.allianceId, "allianceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int64 = 10
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetParagonHubSkinrCharactersRequest struct {
	ctx context.Context
	ApiService ParagonHubAPI
	characterId int64
	xCompatibilityDate *string
	after *string
	before *string
	limit *int64
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetParagonHubSkinrCharactersRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetParagonHubSkinrCharactersRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// Return records from after this cursor (mutual exclusive with &#39;before&#39;). &#39;0&#39; to start from the beginning.
func (r ApiGetParagonHubSkinrCharactersRequest) After(after string) ApiGetParagonHubSkinrCharactersRequest {
	r.after = &after
	return r
}

// Return records from before this cursor (mutual exclusive with &#39;after&#39;). &#39;0&#39; to start from the end.
func (r ApiGetParagonHubSkinrCharactersRequest) Before(before string) ApiGetParagonHubSkinrCharactersRequest {
	r.before = &before
	return r
}

// The amount of records to retrieve per request.
func (r ApiGetParagonHubSkinrCharactersRequest) Limit(limit int64) ApiGetParagonHubSkinrCharactersRequest {
	r.limit = &limit
	return r
}

// The language to use for the response.
func (r ApiGetParagonHubSkinrCharactersRequest) AcceptLanguage(acceptLanguage string) ApiGetParagonHubSkinrCharactersRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetParagonHubSkinrCharactersRequest) IfNoneMatch(ifNoneMatch string) ApiGetParagonHubSkinrCharactersRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetParagonHubSkinrCharactersRequest) XTenant(xTenant string) ApiGetParagonHubSkinrCharactersRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetParagonHubSkinrCharactersRequest) IfModifiedSince(ifModifiedSince string) ApiGetParagonHubSkinrCharactersRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetParagonHubSkinrCharactersRequest) Execute() (*ParagonHubSkinrCharacters, *http.Response, error) {
	return r.ApiService.GetParagonHubSkinrCharactersExecute(r)
}

/*
GetParagonHubSkinrCharacters List Paragon Hub SKINR listings targeted at a character

Browse the SKINR listings on the Paragon Hub that are visible to the given character.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param characterId The ID of the character the listings are targeted at
 @return ApiGetParagonHubSkinrCharactersRequest
*/
func (a *ParagonHubAPIService) GetParagonHubSkinrCharacters(ctx context.Context, characterId int64) ApiGetParagonHubSkinrCharactersRequest {
	return ApiGetParagonHubSkinrCharactersRequest{
		ApiService: a,
		ctx: ctx,
		characterId: characterId,
	}
}

// Execute executes the request
//  @return ParagonHubSkinrCharacters
func (a *ParagonHubAPIService) GetParagonHubSkinrCharactersExecute(r ApiGetParagonHubSkinrCharactersRequest) (*ParagonHubSkinrCharacters, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ParagonHubSkinrCharacters
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParagonHubAPIService.GetParagonHubSkinrCharacters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paragon-hub/skinr/characters/{character_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"character_id"+"}", url.PathEscape(parameterValueToString(r.characterId, "characterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int64 = 10
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetParagonHubSkinrCorporationsRequest struct {
	ctx context.Context
	ApiService ParagonHubAPI
	corporationId int64
	xCompatibilityDate *string
	after *string
	before *string
	limit *int64
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetParagonHubSkinrCorporationsRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetParagonHubSkinrCorporationsRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// Return records from after this cursor (mutual exclusive with &#39;before&#39;). &#39;0&#39; to start from the beginning.
func (r ApiGetParagonHubSkinrCorporationsRequest) After(after string) ApiGetParagonHubSkinrCorporationsRequest {
	r.after = &after
	return r
}

// Return records from before this cursor (mutual exclusive with &#39;after&#39;). &#39;0&#39; to start from the end.
func (r ApiGetParagonHubSkinrCorporationsRequest) Before(before string) ApiGetParagonHubSkinrCorporationsRequest {
	r.before = &before
	return r
}

// The amount of records to retrieve per request.
func (r ApiGetParagonHubSkinrCorporationsRequest) Limit(limit int64) ApiGetParagonHubSkinrCorporationsRequest {
	r.limit = &limit
	return r
}

// The language to use for the response.
func (r ApiGetParagonHubSkinrCorporationsRequest) AcceptLanguage(acceptLanguage string) ApiGetParagonHubSkinrCorporationsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetParagonHubSkinrCorporationsRequest) IfNoneMatch(ifNoneMatch string) ApiGetParagonHubSkinrCorporationsRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetParagonHubSkinrCorporationsRequest) XTenant(xTenant string) ApiGetParagonHubSkinrCorporationsRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetParagonHubSkinrCorporationsRequest) IfModifiedSince(ifModifiedSince string) ApiGetParagonHubSkinrCorporationsRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetParagonHubSkinrCorporationsRequest) Execute() (*ParagonHubSkinrCorporations, *http.Response, error) {
	return r.ApiService.GetParagonHubSkinrCorporationsExecute(r)
}

/*
GetParagonHubSkinrCorporations List Paragon Hub SKINR listings targeted at a corporation

Browse the SKINR listings on the Paragon Hub that are visible to the given corporation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param corporationId The ID of the corporation the listings are targeted at
 @return ApiGetParagonHubSkinrCorporationsRequest
*/
func (a *ParagonHubAPIService) GetParagonHubSkinrCorporations(ctx context.Context, corporationId int64) ApiGetParagonHubSkinrCorporationsRequest {
	return ApiGetParagonHubSkinrCorporationsRequest{
		ApiService: a,
		ctx: ctx,
		corporationId: corporationId,
	}
}

// Execute executes the request
//  @return ParagonHubSkinrCorporations
func (a *ParagonHubAPIService) GetParagonHubSkinrCorporationsExecute(r ApiGetParagonHubSkinrCorporationsRequest) (*ParagonHubSkinrCorporations, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ParagonHubSkinrCorporations
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParagonHubAPIService.GetParagonHubSkinrCorporations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paragon-hub/skinr/corporations/{corporation_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"corporation_id"+"}", url.PathEscape(parameterValueToString(r.corporationId, "corporationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int64 = 10
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
