/*
EVE Stable Infrastructure (ESI) - tranquility

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2025-11-06
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package esi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type RoutesAPI interface {

	/*
	PostRoute Get route between two systems

	Calculate the systems between the given origin and destination.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param originSystemId Origin system
	@param destinationSystemId Destination system
	@return ApiPostRouteRequest
	*/
	PostRoute(ctx context.Context, originSystemId int64, destinationSystemId int64) ApiPostRouteRequest

	// PostRouteExecute executes the request
	//  @return Route
	PostRouteExecute(r ApiPostRouteRequest) (*Route, *http.Response, error)
}

// RoutesAPIService RoutesAPI service
type RoutesAPIService service

type ApiPostRouteRequest struct {
	ctx context.Context
	ApiService RoutesAPI
	originSystemId int64
	destinationSystemId int64
	xCompatibilityDate *string
	routeRequestBody *RouteRequestBody
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
}

// The compatibility date for the request.
func (r ApiPostRouteRequest) XCompatibilityDate(xCompatibilityDate string) ApiPostRouteRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

func (r ApiPostRouteRequest) RouteRequestBody(routeRequestBody RouteRequestBody) ApiPostRouteRequest {
	r.routeRequestBody = &routeRequestBody
	return r
}

// The language to use for the response.
func (r ApiPostRouteRequest) AcceptLanguage(acceptLanguage string) ApiPostRouteRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiPostRouteRequest) IfNoneMatch(ifNoneMatch string) ApiPostRouteRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiPostRouteRequest) XTenant(xTenant string) ApiPostRouteRequest {
	r.xTenant = &xTenant
	return r
}

func (r ApiPostRouteRequest) Execute() (*Route, *http.Response, error) {
	return r.ApiService.PostRouteExecute(r)
}

/*
PostRoute Get route between two systems

Calculate the systems between the given origin and destination.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param originSystemId Origin system
 @param destinationSystemId Destination system
 @return ApiPostRouteRequest
*/
func (a *RoutesAPIService) PostRoute(ctx context.Context, originSystemId int64, destinationSystemId int64) ApiPostRouteRequest {
	return ApiPostRouteRequest{
		ApiService: a,
		ctx: ctx,
		originSystemId: originSystemId,
		destinationSystemId: destinationSystemId,
	}
}

// Execute executes the request
//  @return Route
func (a *RoutesAPIService) PostRouteExecute(r ApiPostRouteRequest) (*Route, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Route
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RoutesAPIService.PostRoute")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/route/{origin_system_id}/{destination_system_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"origin_system_id"+"}", url.PathEscape(parameterValueToString(r.originSystemId, "originSystemId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"destination_system_id"+"}", url.PathEscape(parameterValueToString(r.destinationSystemId, "destinationSystemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}
	if r.routeRequestBody == nil {
		return localVarReturnValue, nil, reportError("routeRequestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	// body params
	localVarPostBody = r.routeRequestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
