/*
EVE SKINR Ingenuity (ESI) - tranquility

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2026-08-18
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package esi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type CosmeticsAPI interface {

	/*
	GetCharactersCosmeticsSkinr List a character's owned SKINR licenses

	Listing of all SKINR licenses you own

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param characterId The ID of the character whose SKINR licenses to return
	@return ApiGetCharactersCosmeticsSkinrRequest
	*/
	GetCharactersCosmeticsSkinr(ctx context.Context, characterId int64) ApiGetCharactersCosmeticsSkinrRequest

	// GetCharactersCosmeticsSkinrExecute executes the request
	//  @return CharactersCosmeticsSkinr
	GetCharactersCosmeticsSkinrExecute(r ApiGetCharactersCosmeticsSkinrRequest) (*CharactersCosmeticsSkinr, *http.Response, error)

	/*
	GetCharactersCosmeticsSkinrComponents List a character's owned SKINR component licenses

	Listing of all SKINR component licenses you own

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param characterId The ID of the character whose SKINR component licenses to return
	@return ApiGetCharactersCosmeticsSkinrComponentsRequest
	*/
	GetCharactersCosmeticsSkinrComponents(ctx context.Context, characterId int64) ApiGetCharactersCosmeticsSkinrComponentsRequest

	// GetCharactersCosmeticsSkinrComponentsExecute executes the request
	//  @return CharactersCosmeticsSkinrComponents
	GetCharactersCosmeticsSkinrComponentsExecute(r ApiGetCharactersCosmeticsSkinrComponentsRequest) (*CharactersCosmeticsSkinrComponents, *http.Response, error)

	/*
	GetCosmeticsSkinr Get SKINR attributes

	All attributes of a SKINR license

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param skinrId SKINR identifier
	@return ApiGetCosmeticsSkinrRequest
	*/
	GetCosmeticsSkinr(ctx context.Context, skinrId string) ApiGetCosmeticsSkinrRequest

	// GetCosmeticsSkinrExecute executes the request
	//  @return CosmeticsSkinr
	GetCosmeticsSkinrExecute(r ApiGetCosmeticsSkinrRequest) (*CosmeticsSkinr, *http.Response, error)
}

// CosmeticsAPIService CosmeticsAPI service
type CosmeticsAPIService service

type ApiGetCharactersCosmeticsSkinrRequest struct {
	ctx context.Context
	ApiService CosmeticsAPI
	characterId int64
	xCompatibilityDate *string
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetCharactersCosmeticsSkinrRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetCharactersCosmeticsSkinrRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// The language to use for the response.
func (r ApiGetCharactersCosmeticsSkinrRequest) AcceptLanguage(acceptLanguage string) ApiGetCharactersCosmeticsSkinrRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetCharactersCosmeticsSkinrRequest) IfNoneMatch(ifNoneMatch string) ApiGetCharactersCosmeticsSkinrRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetCharactersCosmeticsSkinrRequest) XTenant(xTenant string) ApiGetCharactersCosmeticsSkinrRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetCharactersCosmeticsSkinrRequest) IfModifiedSince(ifModifiedSince string) ApiGetCharactersCosmeticsSkinrRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetCharactersCosmeticsSkinrRequest) Execute() (*CharactersCosmeticsSkinr, *http.Response, error) {
	return r.ApiService.GetCharactersCosmeticsSkinrExecute(r)
}

/*
GetCharactersCosmeticsSkinr List a character's owned SKINR licenses

Listing of all SKINR licenses you own

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param characterId The ID of the character whose SKINR licenses to return
 @return ApiGetCharactersCosmeticsSkinrRequest
*/
func (a *CosmeticsAPIService) GetCharactersCosmeticsSkinr(ctx context.Context, characterId int64) ApiGetCharactersCosmeticsSkinrRequest {
	return ApiGetCharactersCosmeticsSkinrRequest{
		ApiService: a,
		ctx: ctx,
		characterId: characterId,
	}
}

// Execute executes the request
//  @return CharactersCosmeticsSkinr
func (a *CosmeticsAPIService) GetCharactersCosmeticsSkinrExecute(r ApiGetCharactersCosmeticsSkinrRequest) (*CharactersCosmeticsSkinr, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CharactersCosmeticsSkinr
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CosmeticsAPIService.GetCharactersCosmeticsSkinr")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/characters/{character_id}/cosmetics/skinr"
	localVarPath = strings.Replace(localVarPath, "{"+"character_id"+"}", url.PathEscape(parameterValueToString(r.characterId, "characterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCharactersCosmeticsSkinrComponentsRequest struct {
	ctx context.Context
	ApiService CosmeticsAPI
	characterId int64
	xCompatibilityDate *string
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetCharactersCosmeticsSkinrComponentsRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetCharactersCosmeticsSkinrComponentsRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// The language to use for the response.
func (r ApiGetCharactersCosmeticsSkinrComponentsRequest) AcceptLanguage(acceptLanguage string) ApiGetCharactersCosmeticsSkinrComponentsRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetCharactersCosmeticsSkinrComponentsRequest) IfNoneMatch(ifNoneMatch string) ApiGetCharactersCosmeticsSkinrComponentsRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetCharactersCosmeticsSkinrComponentsRequest) XTenant(xTenant string) ApiGetCharactersCosmeticsSkinrComponentsRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetCharactersCosmeticsSkinrComponentsRequest) IfModifiedSince(ifModifiedSince string) ApiGetCharactersCosmeticsSkinrComponentsRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetCharactersCosmeticsSkinrComponentsRequest) Execute() (*CharactersCosmeticsSkinrComponents, *http.Response, error) {
	return r.ApiService.GetCharactersCosmeticsSkinrComponentsExecute(r)
}

/*
GetCharactersCosmeticsSkinrComponents List a character's owned SKINR component licenses

Listing of all SKINR component licenses you own

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param characterId The ID of the character whose SKINR component licenses to return
 @return ApiGetCharactersCosmeticsSkinrComponentsRequest
*/
func (a *CosmeticsAPIService) GetCharactersCosmeticsSkinrComponents(ctx context.Context, characterId int64) ApiGetCharactersCosmeticsSkinrComponentsRequest {
	return ApiGetCharactersCosmeticsSkinrComponentsRequest{
		ApiService: a,
		ctx: ctx,
		characterId: characterId,
	}
}

// Execute executes the request
//  @return CharactersCosmeticsSkinrComponents
func (a *CosmeticsAPIService) GetCharactersCosmeticsSkinrComponentsExecute(r ApiGetCharactersCosmeticsSkinrComponentsRequest) (*CharactersCosmeticsSkinrComponents, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CharactersCosmeticsSkinrComponents
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CosmeticsAPIService.GetCharactersCosmeticsSkinrComponents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/characters/{character_id}/cosmetics/skinr/components"
	localVarPath = strings.Replace(localVarPath, "{"+"character_id"+"}", url.PathEscape(parameterValueToString(r.characterId, "characterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCosmeticsSkinrRequest struct {
	ctx context.Context
	ApiService CosmeticsAPI
	skinrId string
	xCompatibilityDate *string
	acceptLanguage *string
	ifNoneMatch *string
	xTenant *string
	ifModifiedSince *string
}

// The compatibility date for the request.
func (r ApiGetCosmeticsSkinrRequest) XCompatibilityDate(xCompatibilityDate string) ApiGetCosmeticsSkinrRequest {
	r.xCompatibilityDate = &xCompatibilityDate
	return r
}

// The language to use for the response.
func (r ApiGetCosmeticsSkinrRequest) AcceptLanguage(acceptLanguage string) ApiGetCosmeticsSkinrRequest {
	r.acceptLanguage = &acceptLanguage
	return r
}

// The ETag of the previous request. A 304 will be returned if this matches the current ETag.
func (r ApiGetCosmeticsSkinrRequest) IfNoneMatch(ifNoneMatch string) ApiGetCosmeticsSkinrRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

// The tenant ID for the request.
func (r ApiGetCosmeticsSkinrRequest) XTenant(xTenant string) ApiGetCosmeticsSkinrRequest {
	r.xTenant = &xTenant
	return r
}

// The date the resource was last modified. A 304 will be returned if the resource has not been modified since this date.
func (r ApiGetCosmeticsSkinrRequest) IfModifiedSince(ifModifiedSince string) ApiGetCosmeticsSkinrRequest {
	r.ifModifiedSince = &ifModifiedSince
	return r
}

func (r ApiGetCosmeticsSkinrRequest) Execute() (*CosmeticsSkinr, *http.Response, error) {
	return r.ApiService.GetCosmeticsSkinrExecute(r)
}

/*
GetCosmeticsSkinr Get SKINR attributes

All attributes of a SKINR license

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param skinrId SKINR identifier
 @return ApiGetCosmeticsSkinrRequest
*/
func (a *CosmeticsAPIService) GetCosmeticsSkinr(ctx context.Context, skinrId string) ApiGetCosmeticsSkinrRequest {
	return ApiGetCosmeticsSkinrRequest{
		ApiService: a,
		ctx: ctx,
		skinrId: skinrId,
	}
}

// Execute executes the request
//  @return CosmeticsSkinr
func (a *CosmeticsAPIService) GetCosmeticsSkinrExecute(r ApiGetCosmeticsSkinrRequest) (*CosmeticsSkinr, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CosmeticsSkinr
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CosmeticsAPIService.GetCosmeticsSkinr")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cosmetics/skinr/{skinr_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"skinr_id"+"}", url.PathEscape(parameterValueToString(r.skinrId, "skinrId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xCompatibilityDate == nil {
		r.xCompatibilityDate = &a.client.cfg.CompatibilityDate
	}
	// Removed original error check - now using configuration default value
	if false {
		return localVarReturnValue, nil, reportError("xCompatibilityDate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.acceptLanguage != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Accept-Language", r.acceptLanguage, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-None-Match", r.ifNoneMatch, "simple", "")
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Compatibility-Date", r.xCompatibilityDate, "simple", "")
	if r.xTenant != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Tenant", r.xTenant, "simple", "")
	}
	if r.ifModifiedSince != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "If-Modified-Since", r.ifModifiedSince, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
